
<!--<ion-toolbar><ion-button slot="end" (click)="showMembers()">Show members</ion-button> </ion-toolbar>-->
<ion-content [fullscreen]="true" class="backimg">
  <div class="welcome-section">
    <h2 class="welcome-title">Welcome to Environment Events!</h2>
    <p class="welcome-text">
      Dear student, welcome to the Environment Events page. Here, you will find a collection of events related to the environment, sustainability, and conservation. We believe in raising awareness and taking action to protect our planet. Join us in these events to learn, contribute, and make a positive impact on the environment. Check out the upcoming events below and be part of the change!
    </p>
    <ion-button *ngIf="!leader" (click)="registerNewClub()" color="success">Register</ion-button>
  </div>
  <ion-button (click)="openModal()" *ngIf="leader" color="success" class="addeventbtn">
    Add Events
  </ion-button>
    <div *ngFor="let product of events ; let i=index;">
     
      <ion-button (click)="goToDetails(product,i)" fill="clear">
        <ion-card>
          <ion-card-header>
  
            <ion-card-title class="title">{{ product.name }}</ion-card-title>
            <ion-card-subtitle class="subtitle">{{ product.club_name }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-img src="{{product.photoUrl}}"></ion-img>
            <ion-label>{{ ds.date[i] }}</ion-label><br>
            <ion-label>{{ ds.time[i] }}</ion-label><br>
          </ion-card-content>
        </ion-card>
      </ion-button>
    </div>
    <!-- Your component template -->
  
  
  </ion-content>