/* Add these styles to your component's CSS or global styles */
ion-title,
ion-button,
ion-input,
h1 {
  color: #000000 !important;
}



h2,
p {
  color: white;
}

.theatreimg {
  --background: url('/assets/images/theatreimg.jpg') fixed center/cover;
}

.theabtn {
  --background: linear-gradient(to right, rgb(255, 4, 4), rgb(255, 4, 4));
  color: white !important;
}

.theabtn1 {
  --background: linear-gradient(to right, rgb(255, 4, 4), rgb(255, 4, 4));
  color: white !important;
  margin-left: 6%;
}

ion-card {
  height: 440px;
  width: 300px;
}

ion-card-title {
  white-space: normal;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
}

.welcome-section {
  margin: 20px;
}

.welcome-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.welcome-text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.title {
  font-weight: bold;
}

.subtitle {
  font-style: italic;
}