
<!--<ion-toolbar><ion-button slot="end" (click)="showMembers()">Show members</ion-button>  </ion-toolbar>-->
<ion-content [fullscreen]="true" class="graduateimg">
  <div class="welcome-section">
    <h2 class="welcome-title">Welcome to Graduates Events!</h2>
    <p class="welcome-text">
      Congratulations, graduates! This page is dedicated to celebrating your achievements and providing you with opportunities to connect and engage with fellow graduates. Here, you will find a collection of events specially curated for graduates like you. From networking events to career fairs, alumni reunions to professional development workshops, we strive to support your continued success after graduation. Explore the upcoming events below and make the most of your post-graduation journey!
    </p>
    <ion-button *ngIf="!leader" (click)="registerNewClub()" class="grabtn">Register</ion-button>
  </div>

  <ion-button (click)="openModal()" *ngIf="leader">
    Add Events
  </ion-button>
    <div *ngFor="let product of events ; let i=index;">
     
      <ion-button (click)="goToDetails(product,i)" fill="clear">
        <ion-card>
          <ion-card-header>
  
            <ion-card-title class="title">{{ product.name }}</ion-card-title>
            <ion-card-subtitle class="subtitle">{{ product.club_name }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-img src="{{product.photoUrl}}"></ion-img>
            <ion-label>{{ ds.date[i] }}</ion-label><br>
            <ion-label>{{ ds.time[i] }}</ion-label><br>
          </ion-card-content>
        </ion-card>
      </ion-button>
    </div>
    <!-- Your component template -->
  
  
  </ion-content>