<ion-content [fullscreen]="true" class="membtn">
  <ion-item class="search">
    <ion-input placeholder="Search" (ionInput)="checks()" [(ngModel)]="Search"></ion-input>
    <ion-select slot="end" (ionChange)="checks()" [(ngModel)]="selected">
      <ion-select-option>all</ion-select-option>
      <ion-select-option>name</ion-select-option>
      <ion-select-option>club-name</ion-select-option>
      <ion-select-option>field</ion-select-option>
      <ion-select-option>type</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngFor="let x of filteredRecords; let i=index;">
    <ion-button>
      <ion-label (click)="goToUser(x.name)">{{x.name}}</ion-label>
      <br><ion-label>{{leaders[i]}}</ion-label>
    </ion-button>


  </ion-item>
  <ion-item *ngFor="let x of filteredRecords2; let i=index;">
    <ion-button>
      <ion-label (click)="goToUser2(x.name)">{{x.name}}</ion-label>
    </ion-button>


  </ion-item>
  <ion-item *ngFor="let x of filteredRecords3; let i=index;">
    <ion-button>
      <ion-label (click)="goToUser3(x.name)">{{x.name}}</ion-label>
    </ion-button>

  </ion-item>
</ion-content>